* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    min-width: 750px;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-color: black;
    background-image: url(img/page_background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#screen {
    position: relative;
    width: 750px;
    height: 750px;
}

#screen_clickregion_twitter {
    position: absolute;
    left: 58px;
    top: 586px;
    width: 114px;
    height: 78px;
}

#screen_clickregion_twitter_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#screen_clickregion_mute {
    position: absolute;
    left: 644px;
    top: 655px;
    width: 90px;
    height: 70px;
}

#screen_clickregion_mute_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#screen_clickregion_enter {
    position: absolute;
    left: 250px;
    top: 360px;
    width: 270px;
    height: 110px;
}

#screen_clickregion_enter_link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

#screen_canvas {
    display: block;
    width: 750px;
    height: 750px;
}