* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color: black;
    background-image: url(img/page_background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#screen {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    height: 750px;
}

#screen_canvas {
    width: 100%;
    height: 100%;
}