* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-image: url(img/background.png);
    background-attachment: fixed;
}

#screen {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 760px;
    height: 760px;
}

#screen_canvas {
    width: 100%;
    height: 100%;
}